In [1]:
print("test")

test

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data_drivers = pd.read_csv("data_raw/drivers.csv")

data_standings = pd.read_csv("data_raw/driver_standings.csv")

In [3]:
points = data_standings.sort_values(by='points', ascending=False)

unique_points = points.drop_duplicates(subset='driverId', keep='first')

merge_drivers = pd.merge(data_drivers, unique_points, on='driverId')

small_merge_drivers = merge_drivers.drop(columns=['driverRef','number','code','surname','dob','driverStandingsId','url','forename','position','positionText','wins','raceId'])
print(small_merge_drivers)

     driverId nationality  points
0           1     British   413.0
1           2      German    61.0
2           3      German   385.0
3           4     Spanish   278.0
4           5     Finnish    53.0
..        ...         ...     ...
845       854      German    12.0
846       855     Chinese     6.0
847       856       Dutch     2.0
848       857  Australian     0.0
849       858    American     0.0

[850 rows x 3 columns]

In [10]:
nationality_grouped= (small_merge_drivers.groupby(["nationality"])
                      .agg(sum_points=('points','sum'),
                           mean_points=('points','mean'),
                           number_of_drivers=('points',len))
)

display(nationality_grouped)

                   sum_points  mean_points  number_of_drivers
nationality
American               431.50     2.731013                158
American-Italian         0.00     0.000000                  1
Argentine              133.28     5.553333                 24
Argentine-Italian        0.00     0.000000                  1
Australian             632.00    35.111111                 18
Austrian               202.00    13.466667                 15
Belgian                121.00     5.260870                 23
Brazilian              637.50    19.921875                 32
British               2319.00    14.140244                164
Canadian               210.00    15.000000                 14
Chilean                  2.00     2.000000                  1
Chinese                  6.00     6.000000                  1
Colombian               82.00    27.333333                  3
Czech                    0.00     0.000000                  1
Danish                  57.00    11.400000                  5
Dutch                  473.00    26.277778                 18
East German              0.00     0.000000                  3
Finnish                789.00    87.666667                  9
French                 936.00    13.000000                 72
German                1402.00    28.612245                 49
Hungarian                1.00     1.000000                  1
Indian                   5.00     2.500000                  2
Indonesian               0.00     0.000000                  1
Irish                    9.00     1.800000                  5
Italian                666.50     6.942708                 96
Japanese               155.00     7.750000                 20
Liechtensteiner          0.00     0.000000                  1
Malaysian                0.00     0.000000                  1
Mexican                349.00    58.166667                  6
Monegasque             312.00    78.000000                  4
New Zealander          117.00    13.000000                  9
Polish                 136.00   136.000000                  1
Portuguese               8.00     2.000000                  4
Rhodesian                6.00     1.500000                  4
Russian                133.00    33.250000                  4
South African           69.00     3.000000                 23
Spanish                583.00    38.866667                 15
Swedish                131.00    13.100000                 10
Swiss                  110.00     5.000000                 22
Thai                   110.00    55.000000                  2
Uruguayan                0.00     0.000000                  4
Venezuelan              46.00    15.333333                  3

In [ ]:
#countries with the top 10 number of points